/* Fonts */

@font-face {
  font-family: 'Anonymous Pro';
  src: local('Anonymous Pro'), url('./Fonts/AnonymousPro-Bold.ttf');
}

@font-face {
  font-family: 'Jura';
  src: local('Jura'), url('./Fonts/Jura-Medium.ttf');
}

/* Universal Selector */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Anonymous Pro;
}

/*----------------------------------------------------------------*/

/* Universal Properties */

:root {
  --fuchsia: #ca2c92;
  --mint: #277257;
  --orange: #ffa500;
  --slate-blue: #6a5acd;
}

a,
h4,
h5,
li,
p,
textarea {
  font-family: 'Jura', sans-serif;
}

#about,
#contact-form,
nav,
#portfolio,
#resume {
  padding: 0 25px;
}

h1,
h2,
h3 {
  font-family: 'Anonymous Pro', monospace;
}

a,
h2,
h3,
h4,
h5,
input,
input::placeholder,
p,
textarea,
textarea::placeholder {
  color: white;
}

main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#main-section-header {
  color: var(--fuchsia);
  font-size: 30px;
  letter-spacing: 2px;
  padding-bottom: 25px;
}

#main-section-hr {
  margin-bottom: 30px;
  opacity: 1;
  width: 91vw;
}

p {
  color: black;
  letter-spacing: 1px;
}

/*----------------------------------------------------------------*/

/* Header / Navigation Bar */

#header-logo {
  cursor: pointer;
  opacity: 0.9;
  user-select: none;
}

#header-logo:hover {
  opacity: 1;
}

nav {
  align-items: center;
  background-color: var(--slate-blue);
  backdrop-filter: blur(5px);
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  position: fixed;
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  z-index: 100;
}

#desktop-nav {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

nav li a {
  color: white;
  text-decoration: none;
}

.navItem {
  color: white;
  text-decoration: none;
  opacity: 0.5;
}

.navItem:hover {
  color: white;
  text-decoration: none;
  opacity: 0.75;
}

.navItem.active {
  color: white;
  text-decoration: none;
  opacity: 1;
}

.nav-stack {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  padding: 0 2px;
  position: absolute;
  right: 20px;
  top: 12.5px;
  transition: 0.4s all ease-in-out;
  width: 55px;
}

.nav-stack.active {
  transition: 0.4s all ease-in-out;
  right: 175px;
}

.mobile-nav {
  backdrop-filter: blur(5px);
  background-color: rgba(105, 90, 205, 0.9);
  display: none;
  height: 100vh;
  list-style: none;
  position: absolute;
  right: -160px;
  top: 0;
  transition: 0.4s all ease-in-out;
  -webkit-backdrop-filter: blur(5px);
  width: 160px;
}

.mobile-nav.active {
  backdrop-filter: blur(5px);
  background-color: rgba(105, 90, 205, 0.9);
  height: 100vh;
  list-style: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s all ease-in-out;
  -webkit-backdrop-filter: blur(5px);
}

.mobile-nav li:first-child {
  margin-top: 35px;
}

.mobile-nav li {
  font-size: 23px;
  margin-bottom: 35px;
}

/*----------------------------------------------------------------*/

/* Body */

/* Main Wrapper Styling */

#main-wrapper {
  margin-left: 15px;
  margin-top: 125px;
}

/*----------------------------------------------------------------*/

/* About Me Component Styling */

#about {
  width: 90%;
}

#about-wrapper {
  align-items: center;
  display: flex;
}

#about h1 {
  color: var(--fuchsia);
  margin: 5px 0;
}

#about p {
  color: var(--mint);
  font-size: 18px;
  line-height: 1.3;
}

#portrait {
  margin-right: 25px;
  width: 250px;
}

/*----------------------------------------------------------------*/

/* Portfolio Styling */

#project-details {
  background-color: rgba(255, 166, 0, 0.8);
  color: white;
  backdrop-filter: blur(8px);
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: 0.1s all ease-in-out;
  -webkit-backdrop-filter: blur(8px);
  width: 100%;
}

#project-details:hover {
  opacity: 1;
  transition: 0.2s all ease-in-out;
}

#project-image {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  width: 200px;
}

#project-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-indent: 10px;
}

#project-links a {
  text-decoration: none;
  color: black;
}

#project-links a:hover {
  text-decoration: none;
  color: var(--mint);
}

#project-outer-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#project-stack {
  color: white;
  font-size: 15px;
}

#project-stack,
#project-title {
  position: relative;
  left: 15px;
  top: 15px;
}

#project-title {
  font-size: 22px;
}

#portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  left: -5px;
  position: relative;
}

#single-project {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  position: relative;
}

/*----------------------------------------------------------------*/

/* Contact Page Styling */

#backend h1,
#dev-tools h1,
#frontend h1 {
  margin-top: 25px;
}

#resume li {
  list-style: circle;
  margin-left: 22.5px;
  text-indent: 10px;
}

#status {
  margin-bottom: 20px;
}

.subject {
  grid-column: 1/3;
}

form button {
  background-color: var(--orange);
  color: white;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 175px;
  border-radius: 5px;
}

form button:active {
  background-color: #cc8500;
  transform: scale(0.98);
}

form button:hover {
  background-color: #cc8500;
}

.form-inner-container {
  column-gap: 20px;
  display: grid;
  grid-template: 38px 38px 125px / 25vw 25vw;
  margin-bottom: 20px;
  row-gap: 20px;
  width: 100%;
}

.form-inner-container input::placeholder,
.form-inner-container textarea::placeholder {
  color: var(--mint);
}

.form-inner-container input[type='email'],
.form-inner-container input[type='text'],
.form-inner-container textarea {
  color: var(--mint);
  border: 3px solid black;
  border-radius: 5px;
  padding-left: 20px;
  outline: none;
}

.form-inner-container textarea {
  padding-top: 10px;
  grid-column: 1/3;
  resize: none;
}

/*----------------------------------------------------------------*/

/* Resume Styling */

#resume-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#resume-wrapper div {
  margin-right: 50px;
}

#resume-wrapper h1 {
  color: var(--fuchsia);
}

#resume-wrapper li {
  color: var(--mint);
}

/* Footer */

#footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#footer hr {
  margin-top: 30px;
  opacity: 1;
  width: 91vw;
}

.footer-icons {
  height: 50px;
  margin: 25px 10px;
  object-fit: cover;
  width: 50px;
}

#footer-wrapper {
  display: flex;
}

/*----------------------------------------------------------------*/

/* Media Queries */

@media (max-width: 1180px) {
  #about-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  #nav-stack {
    display: flex;
  }

  nav ul {
    display: none;
  }
}

@media (max-width: 800px) {
  #desktop-nav,
  #header-logo {
    display: none;
  }

  #main-wrapper {
    margin-left: 15px;
    margin-top: 50px !important;
  }

  .mobile-nav {
    display: unset;
  }

  nav {
    backdrop-filter: none;
    background-color: transparent;
    -webkit-backdrop-filter: none;
  }

  .nav-stack {
    display: flex;
  }
}

/*----------------------------------------------------------------*/
