/* Universal Selector */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*----------------------------------------------------------------*/

/* Universal Properties */

#about,
nav,
#portfolio {
  padding: 0 25px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#main-section-header {
  padding-bottom: 10px;
}

/*----------------------------------------------------------------*/

/* Navigation Bar */

nav {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

nav li {
  margin: 0 10px;
}

nav li a {
  color: white;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
}

/*----------------------------------------------------------------*/

/* Body */

/* About Me Component Styling */

#about {
  width: 50%;
}

#about h1 {
  margin: 5px 0;
}

#about p {
  font-size: 18px;
  line-height: 1.3;
}

#portrait {
  width: 175px;
}

/*----------------------------------------------------------------*/

/* Footer */

.footer-icons {
  width: 50px;
}

/*----------------------------------------------------------------*/
