/* Fonts */

@font-face {
  font-family: 'Anonymous Pro';
  src: local('Anonymous Pro'), url('./Fonts/AnonymousPro-Bold.ttf');
}

@font-face {
  font-family: 'Jura';
  src: local('Jura'), url('./Fonts/Jura-Medium.ttf');
}

/* Universal Selector */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Anonymous Pro;
}

/*----------------------------------------------------------------*/

/* Universal Properties */

:root {
  --fuchsia: #ca2c92;
  --mint: #277257;
  --orange: #ffa500;
  --slate-blue: #6a5acd;
}

html,
body {
  overflow-x: hidden;
}

a,
h4,
h5,
li,
p,
textarea {
  font-family: 'Jura', sans-serif;
}

#about {
  text-align: justify;
}

#about,
#contact-form,
nav,
#portfolio,
#resume {
  padding: 0 25px;
}

h1,
h2,
h3 {
  font-family: 'Anonymous Pro', monospace;
}

a,
h2,
h3,
h4,
h5,
input,
input::placeholder,
p,
textarea,
textarea::placeholder {
  color: white;
}

main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#main-section-header {
  color: var(--fuchsia);
  font-size: 30px;
  letter-spacing: 2px;
  padding-bottom: 25px;
}

#main-section-hr {
  border: 5px solid var(--orange);
  border-radius: 1000px;
  margin-bottom: 50px;
  opacity: 1;
  width: 90vw;
}

p {
  color: black;
  letter-spacing: 1px;
}

/*----------------------------------------------------------------*/

/* Header / Navigation Bar */

#header-logo {
  cursor: pointer;
  opacity: 0.9;
  user-select: none;
}

#header-logo:hover {
  opacity: 1;
}

nav {
  align-items: center;
  background-color: var(--slate-blue);
  backdrop-filter: blur(5px);
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  position: fixed;
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  z-index: 100;
}

#desktop-nav {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

nav li a {
  color: white;
  text-decoration: none;
}

.navItem {
  color: white;
  text-decoration: none;
  opacity: 0.5;
}

.navItem:hover {
  color: white;
  text-decoration: none;
  opacity: 0.75;
}

.navItem.active {
  color: white;
  text-decoration: none;
  opacity: 1;
}

.nav-stack {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  padding: 0 2px;
  position: absolute;
  right: 20px;
  top: 12.5px;
  transition: all 0.5s cubic-bezier(0.65, 0, 0.33, 0.99);
  width: 55px;
}

.nav-stack.active {
  transition: all 0.5s cubic-bezier(0.65, 0, 0.33, 0.99);
  right: 185px;
}

.mobile-nav {
  backdrop-filter: blur(5px);
  background-color: rgba(105, 90, 205, 0.9);
  display: none;
  height: 100vh;
  list-style: none;
  position: absolute;
  right: -170px;
  top: 0;
  transition: all 0.5s cubic-bezier(0.65, 0, 0.33, 0.99);
  -webkit-backdrop-filter: blur(5px);
  width: 170px;
}

.mobile-nav.active {
  backdrop-filter: blur(5px);
  background-color: rgba(105, 90, 205, 0.9);
  height: 100vh;
  list-style: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.65, 0, 0.33, 0.99);
  -webkit-backdrop-filter: blur(5px);
}

.mobile-nav li:first-child {
  margin-top: 35px;
}

.mobile-nav li {
  font-size: 23px;
  margin-bottom: 35px;
}

#nav-logo {
  bottom: -15px;
  font-size: 20px;
  position: absolute;
}

/*----------------------------------------------------------------*/

/* Body */

/* Main Wrapper Styling */

#main-wrapper {
  margin-left: 15px;
  margin-top: 125px;
}

/*----------------------------------------------------------------*/

/* About Me Component Styling */

#about {
  width: 90%;
}

#about-wrapper {
  display: flex;
}

#about h1 {
  color: var(--fuchsia);
  margin: 5px 0;
}

#about p {
  color: var(--mint);
  font-size: 18px;
  line-height: 1.3;
}

#portrait {
  margin-right: 25px;
  width: 250px;
}

/*----------------------------------------------------------------*/

/* Portfolio Styling */

#project-bottom-section {
  display: flex;
  flex-direction: column-reverse;
}

#project-desc {
  display: none;
}

#project-desc #project-links {
  text-indent: 24px;
}

#project-details {
  background-color: rgba(255, 166, 0, 0.8);
  color: white;
  backdrop-filter: blur(8px);
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: 0.1s all ease-in-out;
  -webkit-backdrop-filter: blur(8px);
  width: 100%;
}

#project-details:hover {
  opacity: 1;
  transition: 0.2s all ease-in-out;
}

#project-image {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  width: 200px;
}

#project-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-indent: 10px;
}

#project-links a {
  text-decoration: none;
  color: black;
}

#project-links a:hover {
  text-decoration: none;
  color: var(--mint);
}

#project-outer-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#project-stack {
  color: white;
  font-size: 15px;
}

#project-stack,
#project-title {
  position: relative;
  left: 15px;
  top: 15px;
}

#project-title {
  font-size: 22px;
}

#portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#single-project {
  margin-right: 20px;
  margin-top: 10px;
  position: relative;
}

/*----------------------------------------------------------------*/

/* Contact Page Styling */

#backend h1,
#dev-tools h1,
#frontend h1 {
  margin-top: 25px;
}

#resume li {
  list-style: circle;
  margin-left: 22.5px;
  text-indent: 10px;
}

#status {
  margin-bottom: 20px;
}

.subject {
  grid-column: 1/3;
}

form button {
  align-self: center;
  background-color: white;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

form button:active,
form button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

form button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.form-inner-container {
  column-gap: 20px;
  display: grid;
  grid-template: 42px 42px 125px / 22vw 32vw;
  margin-bottom: 20px;
  row-gap: 25px;
  width: 100%;
}

.form-inner-container input::placeholder,
.form-inner-container textarea::placeholder {
  color: var(--mint);
}

.form-inner-container input[type='email'],
.form-inner-container input[type='text'],
.form-inner-container textarea {
  color: var(--mint);
  border: 3px solid var(--mint);
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
}

.form-inner-container textarea {
  padding-top: 10px;
  grid-column: 1/3;
  resize: none;
}

/*----------------------------------------------------------------*/

/* Resume Styling */

#resume-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#resume-wrapper div {
  margin-right: 50px;
}

#resume-wrapper h1 {
  color: var(--fuchsia);
}

#resume-wrapper li {
  color: var(--mint);
}

/* Footer */

#footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#footer hr {
  border: 5px solid var(--orange);
  border-radius: 1000px;
  margin-top: 50px;
  opacity: 1;
  width: 90vw;
}

.footer-icons {
  height: 50px;
  margin: 0 10px;
  margin-bottom: 20px;
  margin-top: 25px;
  object-fit: cover;
  width: 50px;
}

#footer-wrapper {
  display: flex;
}

/*----------------------------------------------------------------*/

/* Media Queries */

/* Max Width 1180px */

@media (max-width: 1180px) {
  #about-wrapper {
    flex-direction: column;
  }

  #portrait {
    margin-bottom: 20px;
  }
}

/*----------------------------------------------------------------*/

/* Max Width 1150px */

@media (max-width: 1150px) {
  .form-inner-container {
    grid-template: 42px 38px 125px / 30vw 40vw;
  }
}

/*----------------------------------------------------------------*/

/* Max Width 800px */

@media (max-width: 800px) {
  #about {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: unset !important;
  }

  #about-wrapper {
    align-items: center;
  }

  #backend h1,
  #dev-tools h1,
  #frontend h1 {
    font-size: 22px;
  }

  #backend li,
  #dev-tools li,
  #frontend li {
    font-size: 18px;
  }

  #backend,
  #dev-tools,
  #frontend {
    margin: 0 15px;
  }

  #contact-form {
    display: flex;
    justify-content: center;
  }

  #contact-form,
  nav,
  #portfolio,
  #resume {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  #desktop-nav,
  #header-logo {
    display: none;
  }

  #main-section-header {
    font-size: 28px;
  }

  #main-wrapper {
    margin-left: 15px;
    margin-top: 75px !important;
  }

  #nav-stack {
    display: flex;
  }

  #portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 0;
  }

  #portrait {
    margin-right: 0 !important;
  }

  #resume-wrapper {
    justify-content: center;
    text-align: left;
  }

  #resume-wrapper div {
    margin-right: 0 !important;
  }

  #single-project {
    margin-left: 25px;
    margin-right: 20px;
  }

  #status {
    text-align: center;
    width: 80vw;
  }

  .mobile-nav {
    display: unset;
  }

  .nav-stack {
    display: flex;
  }

  main {
    align-items: center;
  }

  nav {
    backdrop-filter: none;
    background-color: transparent;
  }

  nav ul {
    display: none;
  }
}

/*----------------------------------------------------------------*/

/* Max Width 768px */

@media (max-width: 768px) {
  .email,
  .name {
    grid-column: 1/3;
  }

  .form-inner-container {
    grid-template: 42px 42px 42px 175px / 80vw;
  }
}

/*----------------------------------------------------------------*/

/* Max Width 551px */

@media (max-width: 551px) {
  #project-bottom-section {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
  }

  #project-bottom-section a,
  #project-bottom-section p {
    font-size: 18px;
    letter-spacing: 0.1px;
  }

  #project-desc,
  #project-links {
    text-indent: 24px;
  }

  #project-desc,
  #project-links {
    text-indent: 0 !important;
  }

  #project-image {
    width: 80vw !important;
  }

  #project-image {
    width: 80vw !important;
  }

  #project-outer-wrapper {
    align-items: center !important;
  }
}

/*----------------------------------------------------------------*/
