/* Universal Selector */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*----------------------------------------------------------------*/

/* Universal Properties */

#about,
nav,
#portfolio {
  padding: 0 25px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#main-section-header {
  padding-bottom: 10px;
}

/*----------------------------------------------------------------*/

/* Navigation Bar */

nav {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(5px);
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  position: fixed;
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  z-index: 100;
}

nav li {
  margin: 0 10px;
}

nav li a {
  color: white;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
}

/*----------------------------------------------------------------*/

/* Body */

/* Main Wrapper Styling */

#main-wrapper {
  margin-top: 125px;
}

/*----------------------------------------------------------------*/

/* About Me Component Styling */

#about {
  width: 50%;
}

#about h1 {
  margin: 5px 0;
}

#about p {
  font-size: 18px;
  line-height: 1.3;
}

#portrait {
  width: 175px;
}

/*----------------------------------------------------------------*/

/* Portfolio Styling */

#project-details {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: 0.1s all ease-in-out;
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
}

#project-details:hover {
  opacity: 1;
  transition: 0.2s all ease-in-out;
}

#project-image {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
}

#project-stack {
  font-size: 18px;
}

#project-stack,
#project-title {
  color: white;
  position: relative;
  left: 15px;
  top: 15px;
}

#project-title {
  font-size: 22px;
}

/* #portfolio {} */

#portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  left: -5px;
  position: relative;
}

#single-project {
  cursor: pointer;
  margin: 10px;
  position: relative;
}

/*----------------------------------------------------------------*/

/* Footer */

.footer-icons {
  width: 50px;
}

/*----------------------------------------------------------------*/
